<?xml version="1.0"?>

<launch>
<param name="/use_sim_time" value="false"/>

<!--include file="$(find simulation_environment)/launch/apartment.launch"/-->

<node name="AnhungControl" pkg="AnhungControl" type="AnhungControl"
  args="192.168.72.224 9930"/>

<node name="joystick" pkg="JoyStick" type="joystick"
  args="/dev/input/js0"/>

<node name="move_robot" pkg="move_robot" type="move_robot"
  args="/dev/ttyUSB0 115200" output="screen"/>

</launch>
